.home-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    .logo-quiz {
        transform: rotate(-2deg);
        background: url("/images/QUIZ_ME_logo.svg") no-repeat center/contain;
        height:50%;
        width:80%;
    }
    
    a {
        text-decoration: none;
        border:2px solid $primary-green;
        color:$secondary-green;
        padding: 20px;
        border-radius: 2rem;
        font-family: "Mukta";
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom:3rem;
        &:hover{
            color:$primary-yellow;
            text-decoration: none;
            transform: scale(1.05);
            transition: 0.3s;
            animation-play-state: paused;
        }
    }
    
}

@keyframes pulse {
    from {
        transform: scale(1);
        }
        to {
        transform: scale(1.2);
        }
}

.startlink-pulse {
    animation: pulse 0.5s infinite alternate;
}