.col,
.col-md-4,
.col-sm-12 {
    border: 1px solid $secondary-green;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    h1{
        font-family: 'Kaushan Script', cursive;
        color:$primary-green;
    }
}

.select-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    a {
        width: 75%;
        height: 20%;
    }
    a .logo-quiz {
        transform: rotate(-2deg);
        background: url("/images/QUIZ_ME_logo.svg") no-repeat center/contain;
        height:100%;
        width:100%;
    }
    .container {
        margin-top:2rem;
        margin-bottom: 2rem;
        max-width: 60%;
    }
    .startLink{
        background-color: black;
        text-decoration: none;
        border:2px solid $primary-green;
        color:$secondary-green;
        padding: 20px;
        border-radius: 2rem;
        font-family: "Mukta";
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom:3rem;
        &:hover{
            color:$primary-yellow;
            text-decoration: none;
            transform: scale(1.05);
            transition: 0.3s;
        }
    }
}

.select-category {
    width:100%;
    background-color: black;
    border:none;
    color:white;
    &:hover{
        color:$primary-yellow;
    }
    
}

label {
    font-size: 2vw;
    text-transform: uppercase;
    text-align:center;
    color: $secondary-green;
    @media (max-width: 770px) {
        font-size: 1rem;
    }
}